<%# Example EJS View - Index %> 

<%- include('components/header') %>

<div class="content">
    <h1>Node EJS Boilerplate</h1>
    <p><a href="https://github.com/troycdev/node-ejs-boilerplate" target="_blank">GitHub Repository</a></p>
</div>

<%- include('components/footer') %>