body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #111;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    color: #FFF;
}

h1 {
    margin-top: 0;
    margin-bottom: 0.2em;
    text-align: center;
    font-size: 3em;
}

p {
    margin: 0;
    font-size: 1.2em;
}

a {
    color: #FFF;
}